.form {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    /* border: 1px solid black; */
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.left>ul {
    margin-top: calc(100%*3/6);
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.searchbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.searchbox>input {
    margin-right: 10px;
    margin-top: 5px;
    width: 250px;
    padding: 5px;
}

.searchbox>button {
    padding: 5px 10px;
}